<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Alfredas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<connectionStrings/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <Alfredas.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>Darbuotoju lentele:
3
Marko,1000,1163,1023,3186
Employee 2,2000,0,0,2000
Employee 3,3000,0,0,3000
Rodikliu lentele:
4
PROFIT,100000,121000,130000,1200
COSTS,500000,480000,450000,800
Indicator 3,2,4,2.4,2
Indicator 4,3,6,3.6,3
Uzduociu lentele:
5
RELATIONSHIP WITH...,11,9
CUTTING ON THE RET...,9,5
IMPROVING PROFESS...,7,6
TASK 4,8,7
TASK 5,9,8
Archyvo lentele:
3
Marko,1000,1163,1023,3186,2014.06.16
Employee 2,2000,0,0,2000,2014.06.16
Employee 3,3000,0,0,3000,2014.06.16</value>
            </setting>
        </Alfredas.Properties.Settings>
    </userSettings>
</configuration>
